<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis Bicicletas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let bike of bikes">
      <img src="{{bike.image}}"/>
    <ion-card-header>
      {{ bike.marca }}
    </ion-card-header>
    <ion-card-content>
      {{ bike.description }}
    </ion-card-content>
  </ion-card>



  <!--ion-list>



    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div-->
</ion-content>