<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Datos del Hurto</ion-title>
  </ion-navbar>
</ion-header>


<ion-content #popoverContent class="popover-page">

  <div id="map_canvas">
    <button ion-button (click)="onButtonClick($event)">Demo</button>
  </div>
  <div>
    <div>
      <div>
        <ion-item>
          <ion-icon name="search"></ion-icon>
          <ion-label floating>Consultar Usuario</ion-label>
          <ion-input aria-placeholder="ingrese Usuario" id="autoComplete" type="text" [(ngModel)]="user" name="user"
            (keyUp)="findBikeUsers()" (change)="findBikeUsers()"></ion-input>
        </ion-item>
        <div id="listBikesUsers">
          <div *ngIf="bikes?.length > 0;else noBikes" id="bikesUser">
            <div *ngFor="let bike of bikes" class="col l6 s12 m6">
              <ion-card>
                <img src="{{bike.image}}" />
                <ion-card-content>
                  <ion-card-title>
                    <p>Marca: {{ bike.marca }}</p>
                  </ion-card-title>
                  <p>Modelo: {{ bike.modelo }}</p>
                  <p>Color: {{ bike.color }}</p>
                </ion-card-content>
                <ion-item (click)="selectBike(bike)">
                  <ion-icon name="bicycle" item-start large></ion-icon>
                  <h2>Seleccionar</h2>
                  <p>Click para sereccionar está bicicleta.</p>
                </ion-item>
              </ion-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>

    <ion-title>
      Datos del hurto
    </ion-title>
    <ion-list>
      <ion-item>
        <ion-label floating>Serial</ion-label>
        <ion-input type="text" [(ngModel)]="bike.serial" name="bikeSerial"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Marca</ion-label>
        <ion-input type="text" [(ngModel)]="bike.marca" name="bikeMarca"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Color</ion-label>
        <ion-input type="text" [(ngModel)]="bike.color" name="bikeColor"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Fecha Hurto</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="bike.fecha" name="robberyFecha"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Hora Hurto</ion-label>
        <ion-datetime displayFormat="h:mm:A" pickerFormat="h mm A" [(ngModel)]="bike.hora" name="robberyHora"></ion-datetime>
      </ion-item>
      <button ion-button full submit (click)="addRobbery()">
        <ion-icon name="save"></ion-icon>
        Confirmar
      </button>
    </ion-list>
  </div>

  <ng-template #noBikes>
    <ion-list [(hidden)]="activateFindUsersBike">
      <ion-title>No hay bicicletas para mostrar.</ion-title>
    </ion-list>
  </ng-template>

</ion-content>