page-add-robbery {
    #map_canvas{
        height: 70%;
    }

    .ion-md-share {
        color: #ED4248;
      }
      .ion-md-arrow-dropright-circle {
        color: #508AE4;
      }
      .ion-md-heart-outline {
        color: #31D55F;
      }
      .action-sheet-cancel ion-icon,
      .action-sheet-destructive ion-icon {
        color: #757575;
      }

      .scroll-zoom-wrapper {
        white-space: nowrap;
    }
    
    ion-card {
        width: 100% !important;
        display: inline-block;
        max-height: 100% !important;
    }

    ion-card img{
      width: 30%;
      float: left;    
    }

    ion-card card-content{
        width: 65%;
        float: right;    
    }
}